body {
    font-size: 0.95rem;
    font-family: "Noto Sans Korean", "Noto Sans", "Malgun Gothic", "맑은 고딕", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Noto Sans Korean", "Noto Sans", "Malgun Gothic", "맑은 고딕", sans-serif;
}

.Liberty {
    background-color: #f5f5f5;
}

.Liberty .nav-wrapper {
    background-color: #4188f1;
    z-index: 1111;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.Liberty.width-size .navbar, .Liberty.width-size .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.Liberty.width-size .navbar {
    min-height: 30px;
    border: 0;
}

.Liberty.width-size .content-wrapper {
    margin-top: 56px;
}

.Liberty .nav-wrapper .navbar-header {
    float: left;
}

.Liberty .nav-wrapper .navbar-brand {
    height: 2.73rem;
    width: 7rem;
    background: transparent url("../img/logo.png") no-repeat scroll left center/auto 1.9rem;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

.Liberty .nav-wrapper .navbar-nav {
    float: left;
    margin: 0;
}

.Liberty .navbar-nav ul, li {
    float: left;
}

.Liberty .nav-wrapper .nav-link {
    color: #fff;
}

.Liberty .nav-wrapper .fa {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.Liberty .nav-wrapper .nav-link:hover, .Liberty .nav-wrapper .nav-link:focus {
    background-color: #71a5f4;
    transition: 0.3s;
}

.navbar-nav>li>a {
    padding: 0.7rem 0.8rem;
    font-size: 1rem;
}

.Liberty .nav-wrapper .right-nav {
    float: right;
    text-align: left;
    margin-right: 1rem;
}

.Liberty .nav-wrapper .right-nav .portlet {
    padding: 0.3rem 0;
    float: left;
    position: relative;
}

.Liberty .nav-wrapper .right-nav .search-form {
    display: block;
    box-sizing: border-box;
    width: 14rem;
    height: 2rem;
    padding: 0.2rem 4rem 0.2rem 6px;
    font-size: 0.8rem;
    line-height: inherit;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #126aed;
    border-radius: 0.4rem;
}

.Liberty .nav-wrapper .right-nav .search-icon {
    position: absolute;
    top: 9px;
    right: 2rem;
    display: block;
    cursor: pointer;
}

.Liberty .nav-wrapper .right-nav .go-icon {
    position: absolute;
    top: 9px;
    right: 0.3rem;
    display: block;
    cursor: pointer;
}

.Liberty .nav-wrapper .right-nav .pBody .fa {
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0;
    color: #4f5b63;
    font-size: 1.1rem;
    margin: 0;
}

.Liberty .nav-wrapper .right-nav .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.Liberty .nav-wrapper .right-nav .nav-login {
    float: left;
    margin-left: 1rem;
}

.Liberty .nav-wrapper .right-nav .nav-login .fa {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.6rem 0;
}

.Liberty .liberty-content {
    margin-right: 16rem;
    padding: 0rem;
}

.Liberty .liberty-sidebar {
    float: right;
    width: 15rem;
    margin-top: 1rem;
}

.Liberty .liberty-sidebar .liberty-right-fixed {
    position: fixed;
    width: 15rem;
    background-color: #fff;
}

.Liberty .liberty-content .liberty-content-header {
    border: 1px solid #e1e8ed;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
    padding: 1rem;
}

.Liberty .liberty-content .liberty-content-main {
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    background-color: #fff;
    padding: 1rem;
}

.Liberty .liberty-footer {
    border: 1px solid #e1e8ed;
    border-radius: 0px 0px 5px 5px;
    background-color: #fff;
    padding: 1rem;
}

[tabindex="-1"]:focus {
    outline: none;
}

.none-outline, .none-outline:focus {
    outline: none;
}

.modal-login .modal-title {
    text-align: center;
}

.modal-login .modal-dialog {
    width: 25rem;
}

.modal-login .modal-dialog .modal-header {
    padding: 0.7rem;
}

.modal-login .alert {
    margin-bottom: 0.7rem;
}

.modal-login .alert-hidden {
    display: none;
}

.modal-loginform {
    width: 20rem;
    margin: 0 auto;
}

.modal-loginform .form-field {
    display: block;
    margin: 0 0 1rem;
    padding: 0;
    width: 100%;
}

.modal-loginform .form-control {
    margin-bottom: 0.7rem;
}

.modal-loginform .modal-checkbox:not(#noop) {
    position: relative;
    display: table;
}

.modal-loginform .modal-checkbox {
    vertical-align: middle;
    margin-bottom: 0.7rem;
}

.modal-loginform .modal-checkbox:not(#noop) input[type="checkbox"] {
    opacity: 0;
    width: 2em;
    height: 2em;
    max-width: none;
    margin: 0;
    margin-right: 0.4em;
    display: table-cell;
}

.modal-loginform .modal-checkbox:not(#noop) * {
    vertical-align: middle;
    font: inherit;
}

.modal-loginform .modal-checkbox:not(#noop) input[type="checkbox"]+label {
    display: table-cell;
}

.modal-loginform .modal-checkbox:not(#noop) input[type="checkbox"]+label::before {
    -webkit-transition: 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
    -moz-transition: 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
    -o-transition: 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
    transition: 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
    content: '';
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    border-radius: 2px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: 1px solid #777;
    top: 50%;
    margin-top: -1em;
}

.modal-loginform .modal-checkbox:not(#noop) input[type="checkbox"]+label:hover::before {
    border: 3px solid #777;
}

.modal-loginform .modal-checkbox:not(#noop) input[type="checkbox"]:checked+label::before {
    border: 3px solid #777;
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M4%2012l5%205L20%205%22%20stroke%3D%22%2300B78C%22%20stroke-width%3D%223%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E%0A);
}

.modal-loginform .btn {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
}
