body {
    font-size: 0.95rem;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: sans-serif;
}

.Liberty {
    background-color: #f5f5f5;
}

.Liberty .nav-wrapper {
    background-color: #188160;
    z-index: 1111;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.Liberty.width-size .navbar, .Liberty.width-size .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.Liberty.width-size .navbar {
    min-height: 30px;
    border: 0;
}

.Liberty.width-size .content-wrapper {
    margin-top: 41px;
}

.Liberty .nav-wrapper .navbar-header {
    float: left;
}

.Liberty .nav-wrapper .navbar-brand {
    height: 2.73rem;
    width: 7rem;
    background: transparent url("../img/logo.png") no-repeat scroll left center/auto 1.9rem;
    padding: 0;
    margin: 0;
}

.Liberty .nav-wrapper .navbar-nav {
    float: left;
    margin: 0;
}

.Liberty .navbar-nav ul, li {
    float: left;
}

.Liberty .nav-wrapper .nav-link {
    color: #fff;
}

.Liberty .nav-wrapper .fa {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.Liberty .nav-wrapper .nav-link:hover, .Liberty .nav-wrapper .nav-link:focus {
    background-color: #20ac80;
    transition: 0.3s;
}

.navbar-nav>li>a {
    padding: 0.7rem 0.8rem;
    font-size: 1rem;
}

.Liberty .nav-wrapper .right-nav {
    float: right;
    text-align: left;
}

.Liberty .nav-wrapper .right-nav .portlet {
    padding: 0.3rem 0;
}

.Liberty .nav-wrapper .right-nav .search-form {
    display: block;
    box-sizing: border-box;
    width: 14rem;
    height: 2rem;
    padding: 0.2rem 4rem 0.2rem 6px;
    font-size: 0.8rem;
    line-height: inherit;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #1c966f;
    border-radius: 0.4rem;
}

.Liberty .nav-wrapper .right-nav .search-icon {
    position: absolute;
    top: 0.5rem;
    right: 1.7rem;
    display: block;
    cursor: pointer;
}

.Liberty .nav-wrapper .right-nav .go-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
    display: block;
    cursor: pointer;
}

.Liberty .nav-wrapper .right-nav .fa {
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0;
    color: #4f5b63;
    font-size: 1.1rem;
    margin: 0;
}

.Liberty .nav-wrapper .right-nav .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.Liberty .liberty-content {
    background-color: #fff;
    margin-right: 16rem;
    padding: 1.5rem;
}

.Liberty .liberty-sidebar {
    float: right;
    width: 15rem;
    margin-top: 1rem;
}

.Liberty .liberty-sidebar .liberty-right-fixed {
    position: fixed;
    width: 15rem;
    background-color: #fff;
}

.Liberty .liberty-footer {
    border-top: 1px solid #dfdfdf;
    margin-top: 1rem;
    padding-top: 1rem;
}

[tabindex="-1"]:focus {
    outline: none;
}