/* Max-width: 986 */
@media (max-width: 986px) {
    .Liberty .nav-wrapper .navbar .form-inline .form-control {
        width: 100%;
    }
}


/* Max-width: 51.2rem; */
@media (max-width: 51.2rem) {
    .hide-title {
        display: none;
    }
}

/* Max-width: 34rem; */
@media (max-width: 34rem) {

    .Liberty .login-modal .modal-sm {
        width: auto;
    }
}
