/* Button */
#wpSave {
	background-color: #0275d8;
}

#wpSave:hover, #wpSave:active {
	background-color: #025aa5;
}

#wpPreview,
#wpPreview > input {
	background-color: #5bc0de;
	color: #fff;
}

#wpPreview:hover,
#wpPreview:active,
#wpPreview:hover > input,
#wpPreview:active > input {
	background-color: #31b0d5;
}

#wpDiff,
#wpDiff > input {
	background-color: #f0ad4e;
	color: #fff;
}

#wpDiff:hover,
#wpDiff:active,
#wpDiff:hover > input,
#wpDiff:active > input {
	background-color: #ec971f;
}

#mw-editform-cancel,
#mw-editform-cancel > a {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

#mw-editform-cancel > a {
	border: none;
}

#mw-editform-cancel:hover,
#mw-editform-cancel:active,
#mw-editform-cancel:hover > a,
#mw-editform-cancel:active > a {
	background-color: #c9302c;
}

html .editButtons input,
html .editButtons input:first-child {
	margin-left: 0;
}

.editButtons .cancelLink {
	margin: 0;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
	box-shadow: none;
	display: inline-block;
	padding: 0.2rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.oo-ui-inputWidget {
	border-radius: .25rem;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
	color: #fff;
}

/*.oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button {
	padding: 0;
}*/
/* Button End */

html .wikiEditor-ui-tabs {
	border-left: 1px solid #e1e8ed;
	border-top: 1px solid #e1e8ed;
}

html .wikiEditor-ui-tabs div {
	border-right: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
	background-color: #fff;
}

html .wikiEditor-ui-tabs div.current {
	border-bottom: 1px solid #f5f8fa;
	background-color: #f5f8fa;
}

html .wikiEditor-ui .wikiEditor-ui-view {
	border: 1px solid #e1e8ed;
	border-bottom: 0;
}

html .wikiEditor-ui-toolbar {
	background-image: none;
	background-color: #f5f8fa;
}

html .wikiEditor-ui .wikiEditor-ui-top {
	border-bottom: 1px solid #e1e8ed;
}

.editOptions {
	background-color: #f5f8fa;
	border: 1px solid #e1e8ed;
	padding: 1rem;
	border-bottom-left-radius: 0.35rem;
	border-bottom-right-radius: 0.35rem;
}

html .editOptions input#wpSummary {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0.35rem;
}

html .editOptions input#wpSummary:focus {
	border-color: #66afe9;
	outline: 0;
}

.editCheckboxes label {
	margin-right: 0.5rem;
}

.mw-charinsert-buttons {
	margin-top: 1rem;
	border: 1px solid #e1e8ed;
	padding: 0.8rem;
}

.mw-charinsert-buttons select {
	display: block;
	width: 100%;
}

.mw-charinsert-buttons select:focus {
	border-color: #66afe9;
	outline: 0;
}

.mw-charinsert-buttons input {
	padding: 0.2rem 0.5rem;
	margin-top: 0.3rem;
}

.mw-charinsert-buttons input:hover,
.mw-charinsert-buttons input:active {
	background-color: #449d44;
}

.templatesUsed {
	margin-top: 0.8rem;
}

html td.diff-context {
	background-color: #f5f8fa;
	border-color: #e1e8ed;
}