a {
    color: #2980b9;
}

a.new {
    color: #2980b9;
}

a:hover, a:focus {
    color: #3498db;
    text-decoration: underline;
    transition: 0.3s;
}

a.new:hover, a.new:focus {
    color: #3498db;
    text-decoration: underline;
    transition: 0.3s;
}

a.external {
    color: #27ae60;
}

a.external:hover, a.external:focus {
    color: #2ecc71;
    text-decoration: underline;
    transition: 0.3s;
}

a.external:before {
    font: normal normal normal 14px/1 FontAwesome;
    text-align: center;
    color: #27ae60;
    content: "\f14c ";
}

.plainlinks a.external {
    color: #27ae60;
}

.plainlinks a.external:hover, .plainlinks a.external:focus {
    color: #2ecc71;
    text-decoration: underline;
    transition: 0.3s;
}

.plainlinks a.external:before {
    content: '';
}