a {
    color: #337ab7;
}

a.new {
    color: #b73333;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
    transition: 0.3s;
}

a.new:hover, a.new:focus {
    color: #7c2323;
    text-decoration: underline;
    transition: 0.3s;
}