{
  "extends": "wikimedia",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "mw": false
  },
  "rules": {
    "dot-notation": 0
  }
}
