.read-more-container {
	margin: 0 !important;
}
.read-more-container .ra-read-more {
	padding: 0 !important;
}
.read-more-container .ext-related-articles-card-list {
	display: flex !important;
}
.read-more-container .ext-related-articles-card-detail {
	margin-right: 1rem !important;
}
