@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),local('Noto Sans CJK KR Thin'),
    url(https://librewiki.net/skins/Liberty/fonts/eot/NotoSansKR-Thin-Hestia.woff) format('eot'),
    url(https://librewiki.net/skins/Liberty/fonts/woff/NotoSansKR-Thin-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),local('Noto Sans CJK KR Light'),
    url(https://librewiki.net/skins/Liberty/fonts/eot/NotoSansKR-Light-Hestia.eot) format('eot'),
    url(https://librewiki.net/skins/Liberty/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'), local('Noto Sans CJK KR DemiLight'),
    url(https://librewiki.net/skins/Liberty/fonts/eot/NotoSansKR-DemiLight-Hestia.eot) format('eot'),
    url(https://librewiki.net/skins/Liberty/fonts/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),local('Noto Sans CJK KR Regular'),
    url(https://librewiki.net/skins/Liberty/fonts/eot/NotoSansKR-Regular-Hestia.eot) format('eot'),
    url(https://librewiki.net/skins/Liberty/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),local('Noto Sans CJK KR Medium'),
    url(https://librewiki.net/skins/Liberty/fonts/eot/NotoSansKR-Medium-Hestia.eot) format('eot'),
    url(https://librewiki.net/skins/Liberty/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('otf'),
    url(https://librewiki.net/skins/Liberty/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),local('Noto Sans CJK KR Bold'),
    url(https://librewiki.net/skins/Liberty/fonts/eot/NotoSansKR-Bold-Hestia.eot) format('eot'),
    url(https://librewiki.net/skins/Liberty/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('otf'),
    url(https://librewiki.net/skins/Liberty/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),local('Noto Sans CJK KR Black'),
    url(https://librewiki.net/skins/Liberty/fonts/eot/NotoSansKR-Black-Hestia.eot) format('eot'),
    url(https://librewiki.net/skins/Liberty/fonts/otf/NotoSansKR-Black-Hestia.otf) format('otf'),
    url(https://librewiki.net/skins/Liberty/fonts/woff/NotoSansKR-Black-Hestia.woff) format('woff');
}
