name: "Lint code"
on: [pull_request, push]

jobs:
  phpcs:
    name: Run phpcs
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer:v2

      - run: composer test

  eslint:
    name: Run eslint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: npm install --location=global eslint eslint-config-wikimedia eslint-plugin-json
    - run: eslint js --ignore-pattern 'lib/'